/* General styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'GothamRounded', sans-serif;
}

.field::placeholder, form button{
    font-family: 'GothamRounded';
}
/* Contact section styles */
.contact {
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    padding: 20px;
    box-sizing: border-box;
    background-image: url(/public/fondo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure it fills the viewport height */
    background-attachment: fixed; /* Parallax effect */
}

/* Form container styles */
form {
    margin: 0 auto; /* Center form horizontally */
    max-width: 500px; /* Keep form width consistent */
    width: 100%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 40px;
    border-radius: 16px;
    border: 2px solid #5d95ca; /* Border color */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Blur effect */
    color: #000000;
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 0.2s ease;
    font-family: 'GothamRounded';
}

/* Form heading styles */
form h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: #5d95ca;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Input box styles */
.input-box {
    margin-top: 20px;
    position: relative;
}

.input-box label {
    display: block;
    font-size: 16px;
    color: #5d95ca;
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #5d95ca;
    outline: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    color: #000000;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-box .field:focus {
    border-color: #5d95ca;
    box-shadow: 0 0 10px #5d95ca;
}

.input-box .field.mess {
    height: 150px;
    resize: none;
}

.input-box .field::placeholder {
    color: #bbb;
}

/* Button styles */
form button {
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #5d95ca, #2575fc);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

form button:hover {
    background: #2575fc;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(37, 117, 252, 0.3);
}

form button:focus {
    outline: 2px solid #5d95ca; /* Mejora de accesibilidad */
    outline-offset: 2px;
}

form button:disabled {
    background: #ddd;
    cursor: not-allowed;
}

/* Animation styles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



